version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        USER_ID: ${UID:-1000}
        GROUP_ID: ${GID:-1000}
    volumes:
      - ./:/app
    working_dir: /app
    tty: true
